<p style="color: green"><%= notice %></p>

<%= render @book %>
<div class="m-2 px-5">
  <% if @book.main_ebook.attached? %>
    <%= link_to "pdf", @book.main_ebook %> |
  <% end %>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>
  <%= render "posts/form", book: @book %>

  <%= render "posts/list", book: @book %>
</div>
<div class="m-2 px-5">
  <%= render "logs/form", book: @book %>

  <%= render "logs/list", book: @book %>
</div>
<div style="height: 20px">
</div>
