<div id="<%= dom_id post %>">
  <p>
    <strong>Status:</strong>
    <%= post.status %>
  </p>

  <p>
    <strong>Micropub post url:</strong>
    <%= post.micropub_post_url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.user_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= post.book_id %>
  </p>

</div>
