<% form_data = current_page?(action: 'edit') ? {} : {'turbo-frame': 'book-logs', controller: 'reset-form', action: 'turbo:submit-end->reset-form#reset'} %>
<%= form_with(model: @log || [book, book.logs.build], data: form_data) do |form| %>
  <div>
    <%= form.label :note, style: "display: block" %>
    <%= form.text_area :note, style: "width: 500px"%>
  </div>

  <div>
    <%= form.label :page, style: "display: block" %>
    <%= form.number_field :page, style: "width: 80px" %>
  </div>

  <div>
    <button class="m-2 py-1 px-2 bg-blue-600 border-2 border-blue-700 hover:bg-blue-100 hover:text-blue-600 rounded-lg text-blue-100 transition-colors duration-300"><%= form.submit( current_page?(action: 'edit') ? 'Update Log' : 'Create Log') %></button>
  </div>
<% end %>
