<%= form_with(model: [book, book.logs.build], data: {'turbo-frame': 'book-logs'}) do |form| %>
  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, Log::STATUS_TEXT %>
  </div>

  <div>
    <%= form.label :note, style: "display: block" %>
    <%= form.text_field :note %>
  </div>

  <div>
    <%= form.label :page, style: "display: block" %>
    <%= form.number_field :page %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
