<%= turbo_frame_tag(dom_id(log)) do %>
  <p>
  <strong><%= log.page %></strong> : <%= simple_format log.note %> | <%= link_to "Translate", translate_log_path(log) %> | <%= link_to "Edit", edit_log_path(log) %>
  </p>
<% end %>
